html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

html {
  font-family: "Fira Sans", sans-serif;
  color: #d1d5de;
}

body {
  background-color: #1c2321;
  display: flex;
  flex-direction: column;
}

h1 {
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 1rem;
}

h2 {
  font-weight: 500;
  font-size: 1.75rem;
  letter-spacing: 2px;
  text-align: center;
}

h3 {
  font-weight: 500;
  font-size: 1.25rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h4 {
  letter-spacing: 1px;
  font-size: 2rem;
  color: #456990;
  margin-bottom: 0.75rem;
}

.headshot {
  height: 200px;
  border-radius: 50%;
}

.container {
  margin: 0 auto;
  width: 60%;
  padding: 2rem;
}

.img-job {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #456990;
}

.blurb {
  text-align: center;
  letter-spacing: 1px;
  padding: 3rem 2.5rem 2.5rem 2.5rem;
}

nav {
  list-style: none;
  text-transform: uppercase;
  color: #1c2321;
  font-size: 1.5rem;
  letter-spacing: 1px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 3rem;
  background-color: #5e6572;
}

nav li {
  margin: 0.5rem;
  cursor: pointer;
}

.wrapper {
  flex: 1 0 auto;
}

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #363d3b;
  flex-shrink: 0;
  padding: 1rem;
}

footer a {
  color: #d1d5de;
  text-decoration: none;
}

.experience {
  display: none;
}

.skills {
  display: none;
}

.projects {
  display: none;
}

.current {
  color: #d1d5de;
}

.experience-flex {
  display: flex;
}

.company-date {
  flex: 2;
}

.title-description {
  flex: 3;
}

.lang-frame {
  display: flex;
  justify-content: space-between;
}

.languages {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 3;
}

.frameworks {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  flex: 3;
}

.db-software {
  display: flex;
}

.database {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 3;
}

.software {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 3;
}

.list-skills {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.skills-div {
  padding: 0 2rem 2rem 0;
}

.languages,
.frameworks,
.database,
.software {
  height: 400px;
}

.big-skill:hover {
  font-size: 3.25rem;
}

.big-skill {
  background-color: #456990;
  font-size: 3rem;
  transition: font-size 0.5s linear 0s;
}

.med-skill:hover {
  font-size: 2.25rem;
}

.med-skill {
  background-color: #6897ca;
  font-size: 2rem;
  transition: font-size 0.5s linear 0s;
}

.sm-skill:hover {
  font-size: 1.75rem;
}

.sm-skill {
  background-color: #87a1bd;
  font-size: 1.5rem;
  transition: font-size 0.5s linear 0s;
}

.l-skill:hover {
  font-size: 2.25rem;
}

.l-skill {
  background-color: #487bb1;
  font-size: 2rem;
  transition: font-size 0.5s linear 0s;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.item {
  border-radius: 3px;
  -webkit-flex: 1 auto;
  flex: 1 auto;
  padding: 0.5rem;
  margin: 0.5rem;
  text-align: center;
}

.item a {
  display: block;
  text-decoration: none;
  padding: 0.5rem 1rem;
  color: #fff;
}

.skills-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.script {
  display: none;
}

.icons {
  height: 20px;
  padding: 0 0.75rem 0 0.75rem;
}

.icon-text {
  display: flex;
  align-items: center;
}

.sql-neo {
  font-size: 1.5rem;
  text-align: center;
  padding: 1.5rem 1rem 1.5rem 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.center-sql {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 860px) {
  nav {
    flex-direction: column;
    padding: 0.5rem;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding: 0;
  }

  .img-job {
    flex-direction: column;
  }

  footer {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .icon-text {
    padding: 0.5rem 0 0.5rem 0;
  }

  .blurb {
    padding: 0.15rem;
  }

  h1 {
    margin-bottom: 0;
  }
}
